html{
    background-color:rgb(240, 156, 100);
}

body{
    font-family: Arial, Helvetica, sans-serif;
}
.body-para{
    font-size:large;
}
#welcome {
    text-align: center;
    font-style: italic;
    color: #1616ee;
    font-size: 50px;
}

#menu{
    display: flex;
    justify-content: center;
    
}

.menu-item{
    text-decoration: none;
    font-size: 20px;
    color: black;
    text-align: center;
    margin: 0px 30px;
}

.menu-item:hover{
    text-decoration: underline;
}

#bottom{
    display: flex;
    align-items: center;
}
.bottom-piece{
    text-align: center;
}
#gewgul{
    text-decoration: none;
    margin-right: auto;
}
#gewgul:hover{
    text-decoration: underline;
}

#jeff{
    color:rgb(240, 156, 100)
}

#jeff:hover{
    color:black
}

.image {
    display: flex;
    max-width: 800px;
    justify-content: center;
}

#error{
    font-size: 50px;
    text-align: center;
    margin-top: 75px;
}